body{
    background-color: rgb(17, 17, 101);
}
.box{
    width: 400px;
    height: 400px;
    background-color: rgb(104, 25, 104);
    margin: auto;
    border-radius: 20px;
}
.h6{
    padding: 10px;
    color: white;
    font-size: 20px;
}
.link{
    color: green;
    text-decoration: none;
}
.image{
    padding-left: 45px;
}