body{
    background-color: grey;
}
.box{
    margin: auto;
    width: 400px;
    height: 900px;
    background-color: rgb(69, 68, 68);
}
.h1{
    font-size: 30px;
    color: white;
    text-align: center;
}
.h3{
    font-size: 20px;
    color: white;
    text-align: center;
}
.type{
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 30%;
    width: 40%;
    height: 35px;
    border: 2px solid #000000;
}
.button {
    background-color: #ffffff;
    border: none;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
.button {
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    margin-left: 65px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.button:active {
background-color: #14c400;
transform: translateY(0px);
}
