body{
    background-color: grey;
}
.box{
    margin: auto;
    width: 400px;
    height: 800px;
    background-color: rgb(69, 68, 68);
}
.h1{
    font-size: 30px;
    color: white;
    text-align: center;
}
.h3{
    font-size: 20px;
    color: white;
    text-align: center;
}
.type{
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 30%;
    width: 40%;
    height: 35px;
    border: 2px solid #000000;
}
.button {
    margin: 10px 10px 10px 70px;
    font-size: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.check {
    margin: 20px 10px 10px 150px;
    color: #ffffff;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.file {
    width: 100%;
    margin: 20px 10px 10px 135px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.date {
    margin: 20px 10px 10px 135px;
    color: black;
    font-size: 15px;
    height: 30px;
    cursor: pointer;
}